
@layer basics {

  * {
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: $font-family-sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: $body-text-color;
    background-color: $body-background-color;
  }
}

/***************************/
// Contenedores            //
/***************************/

@layer contenedores {
  .container__image {
    display: block;
    height: auto;
    margin: auto;
    border-radius: 25px;
  }

  .container--personal {
    width: 100%;
    min-width: 400px;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
    container-type: inline-size;
    
    @container (min-width: 576px) { max-width: 540px; }
    @container (min-width: 768px) { max-width: 720px; }
    @container (min-width: 992px) { max-width: 960px; }
    @container (min-width: 1200px) { max-width: 1140px; }
    @container (min-width: 1400px) { max-width: 1320px; }
  }

  .container__image--landscape {  width: 90%; }
  .container__image--vertical { width: 50%; }

  .figure__figcaption--landscape { padding-left: 5%; }
  .figure__figcaption--vertical { padding-left: 25%; }


  .content {
    padding: 2rem;
    margin-top: 1rem;
    background-color: $content-background-color;
    border-radius: 2rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }

  .logo {
    display: inline;
    max-width: 50px;
    height: auto;
    margin-right: 1.5rem;
    margin-bottom: 0;
    margin-left: 1.5rem;
        
    @media (min-width: $min-width) {
      max-width: none;
    }
  }

  .image {
      width: 100%;
      height: auto;
      margin-top: 2rem;
      margin-bottom: 2rem;
  }

  .container--flex {
    display: block;

    @media (min-width: $min-width) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      
    }
  }
  
  .container__social--flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .header--personal {
    padding: 2rem;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    font-size: 1.2rem;
    color: $header-text-color;
    background-color: $header-background-color;
  }

  .footer--personal {
    padding: 2rem;
    margin-top: 1.5rem;
    font-size: 0.75rem;
    color: $footer-text-color;
    text-align: center;
    background-color: $footer-background-color;
  }

}

/***************************/
// Títulos                 //
/***************************/

@layer titulos {

  .title {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    font-family: $title-text-color;
    font-weight: bold;
    line-height: 2rem;
    color: $title-text-color;
    text-align: left;
  }

  .title__header {
    font-size: 2rem;
    font-weight: bold;
    line-height: 50px;
    text-align: center;

    @media (min-width: $min-width) {
      text-align: left;    
    }
  }

  .title__h1 {
    font-size: 2.5rem;
    line-height: 2.8rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 2.5rem;
      
    @media (min-width: $min-width) {
      font-size: 2.2rem;
    }
  }

  .title__h2 {
    font-size: 1.8rem;
    line-height: 2rem;
    padding-bottom: 1.8rem;
      
    @media (min-width: $min-width) {
      font-size: 2rem;
      line-height: 2.2rem;

    }
  }

  .title__h3 {
    font-size: 1.6rem;
    line-height: 1.8rem;
    padding-bottom: 1.6rem;
      
    @media (min-width: $min-width) {
      font-size: 1.8rem;
      line-height: 2rem;
    }
  }

  .title__h4 {
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.6rem;
    padding-bottom: 1.4rem;
    
    @media (min-width: $min-width) {
      font-size: 1.6rem;
      line-height: 1.8rem;
    }
  }

  .hr {
    opacity: 0;
  }


}

@layer vinculos {

  .menu__link {
    font-weight: bold;  
    color: $link-invert-text-color;
    text-decoration: none;

    &:hover {
      color: $link-invert-text-color;
      border-bottom-color: $link-invert-text-color;
      border-bottom-style: solid;
    }
  }

  .main__link {
    font-weight: bold;
    color: $link-text-color;
    text-decoration: none;

    &:hover {
      color: $link-active-text-color;
      border-bottom-color: $link-active-text-color;
      border-bottom-style: solid;
    }
  }

  .footer__link {
    font-weight: bold;
    color: $link-invert-text-color;
    text-decoration: none;
  }

  .footer__link:hover {
    color: $link-active-text-color;
    border-bottom-color: $link-active-text-color;
    border-bottom-style: solid;
  }

}

/***************************/
// Menús                   //
/***************************/

@layer menus {
  .nav__menu-superior {
    text-align: center;
    color: $header-text-color;

    @media (min-width: $min-width) {
      text-align: left;
    }

  }

  .nav__menu-inferior {
    text-align: center;
    color: $footer-text-color;

    @media (min-width: $min-width) {
      text-align: center;
      justify-content: space-between;
    }
  }

  .nav__menu-superior--ul {
    margin-top: 1rem;
    list-style-type: none;
  }
    
    
  .nav__menu-superior--ul-li {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.8;
    margin-left: -1rem;

    @media (min-width: $min-width) {
      display: inline-block;
      padding-right: 30px;

      &:last-child {
        padding-right: 0;
      }

    }

  }
}


@supports (display:grid) {
  @media (min-width: $min-width-grid) {
    
    @layer contenedores {

      .container__main {
        max-width: none;
        padding: 0;
        display: grid;
        grid-template-columns: 2fr minmax(10em, max-content) minmax(14em, max-content) minmax(1em, 1fr) fit-content(20em) calc(5em + 1vw);
        grid-template-rows: 35vh 40vh 15vh 10vh;
      }

      .hr {
        grid-column: 4 / 6;
        grid-row: 2;
        height: 6px;
        background-color: $body-background-color;
        width: 20ch;
      }
  
      .about {
        grid-column: 3 / 6;
        grid-row: 2;
        align-self: end;
        background-color: $body-background-color;
        z-index: 1;
        padding: 3rem;
        margin-bottom: auto;
        margin-top: auto;
        border-radius: 4px;
        box-shadow: 6px 6px rgba(200, 200, 200, 1.2);
        font-size: 1.5rem;
        line-height: 1.8rem;
        
        
      }

    }

    
      .title__h1 {
        grid-column: 2 / 6;
        grid-row: 1 / 2;
        z-index: 2;
        padding-left: 0.25em;
        margin-bottom: initial;
        font-size: 2.5rem;
      }

      .title__h2--vertical {
        grid-row: 1 / -1;
        grid-column: 6 / 7;
        writing-mode: vertical-rl;
        margin-bottom: initial;
        color: $body-text-color;
      }

     
      .main__link--grid {
        grid-column: 5 / 6;
        justify-self: end;
        align-self: center;
        margin-bottom: initial;

        &::before {
          content: '';
          display: block;
          height: 3px;
          width: 1rem;
          background-color: $link-text-color;
          width: 14ch;
          margin-bottom: 1em;
        }
      }

    @layer contenedores {
      .grid__image {
        grid-column: 1 / 4;
        grid-row: 1 / 4;
        height: 100%;
        object-fit: cover;
        margin: 0;
      }

      .grid__location {
        grid-column: 1 / 1;
        grid-row: 3 / 4;
        z-index: 2;
        background: $body-background-color;
        display: flex;
        margin: 0;
        

        .grid__p {
          margin-top: 1rem;
          margin-bottom: 1rem;
          margin-left: auto;
          margin-right: auto;
          width: fit-content;
          text-align: center;
        }
      }
    }

      .grid__button {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
        position: initial;
        padding: 1rem;
        margin-top: 1rem;
      }
    
  }

}

