<header class="header--personal">
  <div class="container--flex">
    <div class="container--flex title__header">
      <a class="menu__link" href="index.html" target="_self">
        <img class="logo" loading="lazy" src="/src/assets/images/cooking-logo.png?height=60px">
      </a>
      <div>Concurso de Cocina Saludable</div>
    </div>
    <div class="container--flex">
      <nav class="nav__menu-superior">
        <ul class="nav__menu-superior--ul nav__menu-superior--ul-li">
          <li class="nav__menu-superior--ul-li"><a class="menu__link" href="chiefs.html">Cocineros</a></li>
          <li class="nav__menu-superior--ul-li"><a class="menu__link" href="information.html">Información</a></li>
          <li class="nav__menu-superior--ul-li"><a class="menu__link" href="inscription.html">Inscripción</a></li>
        </ul>
      </nav>

    </div>
  </div>
</header>